
<mat-toolbar class="fixed-top">
  <a mat-icon-button href="/" class="nav-link m-2">
    <fa-icon [icon]="faFish"></fa-icon>
  </a>
  <span  href="/home">Pecadille</span>


  <a mat-button class="nav-link m-2" color="primary" href="/admin" *ngIf="showAdminBoard">Admin</a>

  <a mat-button class="nav-link m-2" href="/mod" color="primary" *ngIf="showModeratorBoard">Moderateur</a>

  <a mat-button class="nav-link m-2" href="/user" color="primary" *ngIf="isLoggedIn">Mon compte</a>

  <a mat-button class="nav-link m-2" color="primary" href="/preference"  *ngIf="isLoggedIn">Alerte meteo</a>

  <span class="example-spacer"></span>

  <a mat-button class="nav-link m-2" color="primary" *ngIf="isLoggedIn" (click)="logout()">Déconnection</a>

  <a mat-button class="nav-link active m-2" color="primary" aria-current="page" href="/login"
    *ngIf="!isLoggedIn">Se connecter</a>

  <a mat-button class="nav-link m-2" color="primary" href="/register" *ngIf="!isLoggedIn">S'enregistrer</a>


  <mat-icon class="mr-8">brightness_5</mat-icon>
  <mat-slide-toggle (click)="changeMode()" class="mr-8" [checked]="isDark">
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>

</mat-toolbar>

<div class="container" style="height:60px"></div>
