
<mat-toolbar class="fixed-top">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" href="/">
    <mat-icon>home</mat-icon>
  </button>
  <span>Pecadille</span>

  <a mat-button class="nav-link m-2" color="primary" href="/seance">Seance</a>

  <a mat-button class="nav-link m-2" color="primary" href="/admin" *ngIf="showAdminBoard">Admin</a>

  <a mat-button class="nav-link m-2" href="/mod" color="primary" *ngIf="showModeratorBoard">Moderateur</a>

  <a mat-button class="nav-link m-2" href="/user" color="primary" *ngIf="isLoggedIn">Utilisateur</a>

  <span class="example-spacer"></span>

  <a mat-button class="nav-link m-2" color="primary" *ngIf="isLoggedIn" (click)="logout()">Logout</a>

  <a mat-button class="nav-link active m-2" color="primary" aria-current="page" href="/login"
    *ngIf="!isLoggedIn">Se connecter</a>

  <a mat-button class="nav-link m-2" color="primary" href="/register" *ngIf="!isLoggedIn">s'enregistrer</a>


  <mat-icon class="mr-8">brightness_5</mat-icon>
  <mat-slide-toggle (click)="changeMode()" class="mr-8">
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>

</mat-toolbar>

<div class="container" style="height:60px"></div>
