<html>
<header>

</header>
<body>





  <div class="container">
    <div class="row">
      <div class="col-5 m-4">
      <p>Simple datepicker</p>
      <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" [displayMonths]=1 [navigation]="'select'"></ngb-datepicker>

      <pre>Month: {{ date.month }}.{{ date.year }}</pre>
      <pre>Model: {{ model | json }}</pre>
    </div>
    <div class="col-5 m-4">


      <select #sel class="form-select" aria-label="Default select example">
        <option selected>Liste de Villes</option>
        <option value="Picauville">Picauville</option>
        <option value="Groix">Groix</option>
        <option value="Roscoff">Roscoff</option>
      </select>

      <h1>{{sel.value}}</h1>

    </div>

    </div>
    <div class="row">
      <button type="button" class="btn btn-primary" (click)="getMeteo(sel.value)">Chercher la météo</button>
    </div>
  </div>

  <button type="button" class="btn btn-primary" (click)="validateMeteo()">Valider la météo</button>

  <table align="center" *ngIf="_meteo">
    <thead>
      <tr>
        <th>Nom de ville</th>
        <th>Direction du vent</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{_meteo.precip}}</td>
        <td><span class="material-symbols-outlined">
          device_thermostat
          </span>{{_meteo.temp}}</td>
      </tr>
    </tbody>
  </table>

</body>
</html>
