<form>

  <div class="form-group">
  <label for="espece">espèce</label>
  <input

  type="text"
  class="form-control"
  name="espece"
  [(ngModel)]="form.prise.espece"
  required
  #description="ngModel">
</div>

<div class="form-group">
  <label for="taille">taille (cm)</label>
  <input
  type="number"
  class="form-control"
  name="taille"
  [(ngModel)]="form.prise.taille"
  required
  #description="ngModel">
</div>

<div class="form-group">
  <label for="poids">poids (kg)</label>
  <input
  type="number"
  class="form-control"
  name="poids"
  [(ngModel)]="form.prise.poids"
  required
  #description="ngModel">
</div>

<div class="form-group">
  <label for="nomLieu">nom du spot</label>
  <input
  #nomLieu
  type="text"
  class="form-control"
  name="nomLieu"
  [(ngModel)]="form.prise.nomLieu"
  required
  #description="ngModel">
</div>

<div class="form-group">
  <button class="btn btn-primary btn-block" (click)="addPrise()">
    Ajouter une Prise
  </button>
</div>



</form>
