<div class="row">

</div>

<div class="row">
  <div class="col-6">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel hideToggle *ngFor="let seance of seances">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{seance.titre}}
          </mat-panel-title>
          <mat-panel-description>
            {{seance.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="col-6">

  </div>


</div>
