<div class="row">
  <div class="col-6">
    <div class="container">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel hideToggle *ngFor="let seance of seances"
          (click)="findMeteobySeance(seance)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{seance.titre}}
            </mat-panel-title>
            <mat-panel-description>
              Nombre de prises de la séance : {{seance.prises.length}}
            </mat-panel-description>


          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>

            <div class="row">
              <div class="col-6">
                <mat-card class="text-centered">
                  <mat-card-title-group>

                    <mat-card-title>
                      {{seance.meteodata.temp}} °C
                    </mat-card-title>
                    <mat-card-subtitle>
                      {{seance.meteodata.weather.description}}
                    </mat-card-subtitle>
                    <img mat-card-md-image src={{seance.iconUrl}}>
                  </mat-card-title-group>
                  <mat-card-content>
                    <fa-icon [icon]="faWind"></fa-icon> {{seance.meteodata.wind_spd}} km/h
                    {{seance.meteodata.wind_cdir}}<br>
                    <fa-icon [icon]="faDroplet"></fa-icon> {{seance.meteodata.precip}} mm <br>
                    <fa-icon [icon]="faDropletSlash"></fa-icon> {{seance.meteodata.rh}} %
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-6">
                <mat-label>Prises de la séance du {{seance.meteodata.valid_date}}</mat-label>
                <br>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                  <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="Lieu">
                    <th mat-header-cell *matHeaderCellDef> Lieu </th>
                    <td mat-cell *matCellDef="let prise"> {{prise.nomLieu}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="Espece">
                    <th mat-header-cell *matHeaderCellDef>Espèce </th>
                    <td mat-cell *matCellDef="let prise"> {{prise.espece}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="Taille">
                    <th mat-header-cell *matHeaderCellDef> Taille (cm) </th>
                    <td mat-cell *matCellDef="let prise"> {{prise.taille}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="Poids">
                    <th mat-header-cell *matHeaderCellDef> Poids (kg) </th>
                    <td mat-cell *matCellDef="let prise"> {{prise.poids}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
            <div class="container" style="height:10px"></div>
            <div class="row">
              <div class="col-1"></div>
              <div class="col-10 text-center">

                {{seance.description}}
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>

  <div class="col-6  text-center">
    <div class="container">

      <button mat-button color="primary" (click)="voirSeances()" *ngIf="!afficheCarte">Afficher la carte des
        séances</button>

      <app-mapmarkers [markerComp]="markerComp" *ngIf="afficheCarte"></app-mapmarkers>
      <button mat-button color="primary" (click)="fermerSeances()" *ngIf="afficheCarte">Cacher la carte des
        séances</button>

    </div>
  </div>

</div>
