.connexion-card {
  min-width: 700px;
  min-height: 400px;
  max-height: 516.25px;

}


.intro {
    background-image: url(https://images.pexels.com/photos/4327602/pexels-photo-4327602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

