<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Mes informations">
    <div class="container" style="height:20px"></div>

    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <mat-card>
              <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>
                      <h4 class="card-title">Bienvenue </h4>
                    </mat-card-title>
                    <mat-card-subtitle>
                      <p class="card-category">Consultez et modifiez votre profil</p>
                    </mat-card-subtitle>
                  </mat-card-title-group>

              </mat-card-header>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label>{{form.username}}</mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="col-md-6">
                        <mat-label>{{form.adresseMail}}</mat-label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="form.prenom" placeholder="Prénom" name="prenom">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="form.nom" placeholder="Nom" name="nom">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="form.adresse" placeholder="Adresse" name="adresse">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="form.ville" placeholder="Ville" name="ville">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="form.pays" placeholder="Pays" name="pays">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="form.codePostal" placeholder="Code Postal" name="codePostal">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">

                  </div>
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="maj()">mettre a
                    jour le profil</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card>
              <mat-card-title>
                <h4 class="card-title">Résumé de vos pêches:</h4>
              </mat-card-title>
              <mat-card-content>
                <p class="card-description">
                  Nombre de séances: {{seancenb}}
                </p>
                <p class="card-description">
                  Nombre de prises: {{prises.length}}
                </p>
                <p class="card-description">
                  Nombre moyen de prises par séance: {{moyenne}}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Créer une séance">
    <div class="container" style="height:20px"></div>
    <app-seance></app-seance>
  </mat-tab>

  <mat-tab label="Toutes mes séances">
    <div class="container" style="height:20px"></div>
    <app-seances></app-seances>
  </mat-tab>


</mat-tab-group>
