
<mat-stepper [linear]="true" #stepper>
<form>
  <mat-step>
    <ng-template matStepLabel>Details et Positionnement</ng-template>

  <div class="row">
    <div class="col-4 m-4">
      <div class="container m-4 P5">

        <div class="form-group">
          <mat-form-field [style.width.px]=327 appearance="fill">
            <mat-label>titre</mat-label>
            <input matInput name="titre" [(ngModel)]="form.seance.titre" required #description="ngModel"
              (keyup)="onKeyTitre($event)">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field [style.width.px]=327 appearance="fill">
            <mat-label>description</mat-label>
            <textarea matInput name="description" [(ngModel)]="form.seance.description" required #description="ngModel"
              (keyup)="onKeyDesc($event)" cdkTextareaAutosize cdkAutosizeMinRows="12"
              cdkAutosizeMaxRows="12"></textarea>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field [style.width.px]=327 appearance="fill">
            <mat-label>latitude</mat-label>
            <input matInput type="number" name="latitude" [(ngModel)]="form.latitude" required #description="ngModel">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field [style.width.px]=327 appearance="fill">
            <mat-label>longitude</mat-label>
            <input matInput type="number" name="longitude" [(ngModel)]="form.longitude" required #description="ngModel">
          </mat-form-field>
        </div>

      </div>
    </div>


    <div class="col-6 m-4">
      <app-map [markerComp]="markComp" (childToParent)="createCoord($event)"></app-map>


    </div>
  </div>
  <button mat-button matStepperNext [disabled]="!asCoordinate">Suivant</button>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Date et Météo</ng-template>




  <div class="row">
    <div class="col-6">
      <app-meteo [lat]="form.latitude" [long]="form.longitude" (childToParent)="getMeteo($event)"></app-meteo>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
      <mat-card *ngIf="asMeteo" class="text-centered">
        <mat-card-title-group>

        <mat-card-title>
          {{_meteo.temp}} °C
        </mat-card-title>
        <mat-card-subtitle>
          {{_meteo.weather.description}}
        </mat-card-subtitle>
        <img mat-card-md-image src={{iconUrl}} >
        </mat-card-title-group>
        <mat-card-content>
          <fa-icon [icon]="faWind"></fa-icon> {{_meteo.wind_spd}} km/h  {{_meteo.wind_cdir}}<br>
          <fa-icon [icon]="faDroplet"></fa-icon> {{_meteo.precip}} mm <br>
          <fa-icon [icon]="faDropletSlash"></fa-icon> {{_meteo.rh}} %
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <button mat-button matStepperNext [disabled]="!asMeteo">Suivant</button>
</mat-step>
<mat-step>
  <ng-template matStepLabel>Prises et validation</ng-template>


  <mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ajouter une prise
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-prise (childToParent)="createPrise($event)"></app-prise>
    </mat-expansion-panel>
  </mat-accordion>

  <table class="table" *ngIf="asPrise">
    <thead>
      <tr>
        <th scope="col">Prise</th>
        <th scope="col">Espece</th>
        <th scope="col">Taille</th>
        <th scope="col">Poids</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prise of prises">
        <th></th>
        <td>{{prise.espece}}</td>
        <td>{{prise.taille}}</td>
        <td>{{prise.poids}}</td>
      </tr>

    </tbody>
  </table>


  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <div class="form-group">
          <button mat-raised-button color="primary" (click)="createSeance()" [disabled]="!asMeteo">
            Ajouter Seance
          </button>
        </div>
      </div>
    </div>
  </div>

</mat-step>

</form>
</mat-stepper>
