
@import "~mdb-ui-kit/src/scss/mdb.free.scss";

#intro {
  background-image: url("https://images.pexels.com/photos/801857/pexels-photo-801857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 100vh;
}

#title {
  color: white
}
